body {
    margin: 40px auto;
    width: 50%;
    text-align: center;
    font-family: "Square Peg";
    background-color: #fcfcfa;
    color: #584170;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

#time {
    font-family: "Roboto Mono";
    font-size: 36px;
    letter-spacing: 4px;
    padding: 20px;

}

#description {
    font-size: 28px;
    letter-spacing: 1px;
}