body {
    font-family: "VT323";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #222;
    text-align: center;
    background-color: aliceblue;
    /* overflow-y: hidden; */
}

/* h1 {
    font-size: 30px;
} */

p {
    font-size: 20px;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
}

#canvasContainer {
    /* background-color: lightblue; */
    width: fit-content;
    height: fit-content;
    margin: 60px auto 20px auto;
    font-family: "VT323";
}

button {
    border: none;
    color: white;
    background-color: #F45154;
    font-size: 20px;
    margin: 20px;
    padding: 4px 12px;
    font-family: "VT323";
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: black 2px 2px;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
}

.showing {
    display: block;
}

.hidden {
    display: none;
}

footer {
    display: flex;
    gap: 40px;
    justify-content: center;
    letter-spacing: 2px;
    bottom: 20px;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    color:#F45154;
}