body {
    font-family: "VT323";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #222;
    text-align: center;
    background-color: aliceblue;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
}

#canvasContainer {
    /* background-color: lightblue; */
    width: fit-content;
    height: fit-content;
    margin: 80px auto 20px auto;
}

button {
    border: none;
    background-color: #B7F047;
    font-size: 20px;
    margin: 20px;
    padding: 4px 12px;
    font-family: "VT323";
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: black 2px 2px;
}

.showing {
    display: block;
}

.hidden {
    display: none;
}